header {
    font: #f7f7f7;
}

body {
    background: #dcdddb;
    padding: 15px 10px 5px 0;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 900px;
    margin: auto;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.photo {
    border: 10px solid #505050;
    border-radius: 50%;
}

#title,
.subtitle,
.post_title {
    color: rgb(2, 2, 3);
}

.post_title {
    font-size: 26px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #ffffff;
    padding: 15px;
    border: 15px solid #505050;
    border-radius: 5px 10px;
    margin-bottom: 15px;
}

.post_contemt {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    color: #0000ff;
    text-decoration: none;
}